.footer
  .container
    .row
      .col-lg-4.col-md-12.col-12.footer-control
        h4.footer-title LOCATION
        p.footer-info 2215 John Daniel Drive <br> Clark, MO 65243
      .col-lg-4.col-md-12.col-12.footer-control
        h4.footer-title AROUND THE WEB
        .footer-icon
          i.fab.fa-facebook-f.icon
          i.fab.fa-twitter.icon
          i.fab.fa-linkedin-in.icon
          i.fab.fa-dribbble.icon.no
      .col-lg-4.col-md-12.col-12.footer-control
        h4.footer-title ABOUT FREELANCER
        p.footer-info Freelance is a free to use, MIT licensed Bootstrap theme created by<br> 
          <a href="">Start Bootstrap</a> .
.copy-right Copyright © Your Website 2020
a(href="#" aria-hidden="true").ar-up
  i.fa.fa-chevron-up
