.header
   .container
      .header__top
       .header__top-logo
         a(href="#") START BOOTSTRAP
       button.header__top-btn MENU
         i.fa.fa-bars
       ul.header__top-list
         li.top-list__item
            a(href="#").list__item-link PORTFOLIO
         li.top-list__item
            a(href="#").list__item-link ABOUT
         li.top-list__item
            a(href="#").list__item-link CONTACT