/*============= Portfolio ============*/
.portfolio {
  @include height(auto);
  padding:96px 0;
  color: $black;
  &-title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-family: $monserrat;
    @media screen and (max-width: 991px) {
      font-size: 36px;
    }
  }
  &-item {
    @include height(auto);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 24px;
    &__line {
      height: 4px;
      max-width: 112px;
      width: 100%;
      background-color: #2c3e50;
      
    }
    &__icon {
      font-size: 32px;
    }
  }
  & .row {
    & .img-control {
      @include height(100%);
      margin: 15px 0;
      & .item {
        @include height(100%);
        position: relative;
        & img {
          border-radius: 8px;
          max-width: 400px;
        }
        & .overlay {
          @include height(100%);
          position: absolute;
          background-color: $green;
          top: 0;
          left: 0;
          right: 0;
          opacity: 0;
          color: $white;
          border-radius: 8px;
          @include display(center);
          & i {
            font-size: 72px;
          }
        }
        & .overlay:hover {
          opacity: 0.9;
          transition: 0.2s;
          cursor: pointer;
        }
      }
    }
  }
  &-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(70, 66, 66, 0.5);
    opacity: 0;
    z-index: 1050;
    transition: all ease-in-out 0.3s;
    & .modal-control {
      justify-content: center;
    }
    &__center {
      margin: 28px auto;
      max-width: 85%;
        @media (max-width: 576px){
            max-width: 100%;
            margin: 8px;
        }
    }

    &__content {
      padding: 64px 16px;
      position: relative;
      background-color: #fff;
      width: 100%;
      text-align: center;
      border-radius: 12px;
      opacity: 0;
      visibility: hidden;
      &.show-content {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
      transition: all ease-in-out 0.3s;
      transform: translateY(-70px);
      & .btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        border: none;
        background-color: transparent;
        font-size: 48px;
        color: $green;
      }
      & .modal-title {
        font-size: 48px;
      }
      & img {
        margin-bottom: 64px;
        max-width: 100%;
      }
      & .modal-info {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 48px;
      }
      & .close-window {
        background-color: $green;
        color: #fff;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 8px;
        line-height: 1.5;
        & i {
          margin-right: 10px;
        }
      }
    }
    &.show {
      visibility: visible;
      opacity: 1;
      
      overflow-y: auto;
    }
  }
  @media screen and (max-width:991px){
    &-title{
        font-size: 36px;
    }
    .modal-title{
        font-size: 36px;
    }
  }
}
