.banner
    .container  
        .banner__image
            img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg")
        h1.banner-title START BOOTSTRAP
        .banner-item
            .banner-item__line.left
            .banner-item__icon
                i.fas.fa-star
            .banner-item__line.right
        .banner-info Graphic Artist - Web Designer - Illustrator