.portfolio.section
    .container
        h1.portfolio-title PORTFOLIO
        .portfolio-item
            .portfolio-item__line.left
            .portfolio-item__icon
                .fa.fa-star
            .portfolio-item__line.right
        .row
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png")
                    .overlay
                        i.fa.fa-plus
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cake.png")
                    .overlay
                        i.fa.fa-plus
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/circus.png")
                    .overlay
                        i.fa.fa-plus
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/game.png")
                    .overlay
                        i.fa.fa-plus
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/safe.png")
                    .overlay
                        i.fa.fa-plus
            .col-md-6.col-lg-4.col-12.img-control
                .item
                    img(src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/submarine.png")
                    .overlay
                        i.fa.fa-plus
    .portfolio-modal
        .portfolio-modal__center
            .portfolio-modal__content
                button.btn-close
                    i.fa.fa-times
                .container
                    .row.modal-control
                        .col-lg-8
                            .modal-title
                            .portfolio-item
                                .portfolio-item__line.left
                                .portfolio-item__icon
                                    i.fa.fa-star
                                .portfolio-item__line.right
                            img(src="").modal-img
                            p.modal-info
                            button.close-window
                                i.fa.fa-times 
                                |Close Window
                                
